.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.color-gray-white {
  color: #ece9e9;
}

.text-md {
  font-size: 13px;
}

.container {
	max-width: 290px;
}

@media screen and (min-width: 768px) {
	.container {
			max-width: 744px;
		}
}

@media screen and (min-width: 1200px) {
	.container {
			max-width: 1164px;
		}

  .text-md {
    font-size: 18px;
  }
}
