html,
body {
  font-family: "Roboto";
  font-size: 11px;
}

.heading {
  font-size: 20px;
}

.text-md {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heading {
    font-size: 44px;
  }

  .text-md {
    font-size: 18px;
  }
}
