.account {
    background: url("../../images/account-bg.webp");
    background-repeat: none;
    background-size: cover;
}

.account-heading {
    color: var(--ntrl-min-color);
}

.account-form {
    background: linear-gradient(to right, var(--secondary-color), #878282);
    width: 263px;
    height: 312px;
}

.account-form .form-title {
    font-family: "Lucida Grande";
    letter-spacing: 0.8px;
    color: var(--primary-color);
    transform: translate(-4px, -5px);
}

.account-form .form-main {
    width: 220px;
    letter-spacing: 0.11px;
    transform: translateY(-5px);
}

.account-form .form-main .form-control {
    height: 32px;
    padding: 1px 6px 6px 13px
}

.account-form .text-signin {
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .account-form {
        background-color: var(--secondary-color);
        width: 279px;
        height: 325px;
    }

    .account-form .form-main .form-control {
        height: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .account-form {
        background-color: var(--secondary-color);
        width: 360px;
        height: 384px;
    }

    .account-form .form-main {
        width: 256px;
    }

    .account-form .form-main .form-control {
        font-size: 14px;
    }
}