.footer {
    background-color: var(--secondary-color);
    color: var(--ntrl-min-color);
}

.wrapper-footer {
    width: 290px;
}

.places-name li a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.footer-top .contact-us .title,
.follow-us .title,
.about-us .title {
    letter-spacing: 0.8px;
}

.follow-us .icons-social .wrap-image {
    width: 20px;
}

.wrapper-footer .base-line {
    border: 1px solid var(--ntrl-min-color);
    width: 100%;
}

.footer-nav {
    z-index: 1000;
}

.wrapper-footer div:last-child {
    bottom: 24px;
}

.to-top .to-top-btn {
    background: var(--primary-color);
}

.to-top .to-top-btn:hover {
    background: var(--fourty-color);
    transform: translateY(-20px);
    transition: 0.5s;
}

.to-top-btn img {
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 768px) {
    .wrapper-footer {
        width: 720px;
    }

    .footer-bottom .footer-nav {
        width: 60%;
        transform: translateY(14px)
    }
}

@media screen and (min-width: 1440px) {
    .wrapper-footer {
        width: 1190px;
    }

    .follow-us .icons-social .wrap-image {
        width: 30px;
    }
}