.header {
  padding: 0;
}

.header-main {
  margin: 0;
  height: 460px;
  background-image: url("../../images/header-bg.png"),
    radial-gradient(circle, #ebca80, #d1af66, #b7954c, #bd9b52, #846419);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-main .wrapper {
  max-width: 230px;
}

.header-heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.header-desc {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.header-form .form-control {
  width: 190px;
  height: 32px;
  border: 1px solid var(--secondary-color);
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.header-button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  margin-bottom: 30px;
}

.header-button:hover {
  background-color: var(--primary-color);
}

.header-button:active {
  background-color: var(--fourty-color);
}

.icon-link {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.icon-image {
  height: inherit;
}

@media screen and (max-width: 767px) {
  .header-button {
    width: 19rem;
    height: 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  .header-main {
    height: 566px;
  }

  .header-main .wrapper {
    max-width: 500px;
  }

  .header-heading {
    font-size: 3.2rem;
    margin-bottom: 1.3rem;
  }

  .header-desc {
    margin-bottom: 2rem;
  }

  .header-form .form-control {
    width: 228px;
    height: 40px;
    margin-right: 1.6rem;
    padding: 0 1.6rem;
  }

  .icon-link {
    width: 64px;
    height: 64px;
    margin: 20px 38px;
  }
}

@media screen and (min-width: 1440px) {
  .header-main {
    height: 768px;
  }

  .header-main .wrapper {
    max-width: 800px;
  }

  .header-heading {
    font-size: 4.4rem;
    margin-bottom: 2.1rem;
  }

  .header-desc {
    font-size: 1.6rem;
    margin-bottom: 3.6rem;
  }

  .header-form .form-control {
    width: 270px;
    height: 48px;
    margin-right: 1.8rem;
    font-size: 1.6rem;
    padding: 0 1.8rem;
  }

  .icon-link {
    width: 80px;
    height: 80px;
    margin: 30px;
  }
}
