.header-main {
  height: 460px;
  background-image: url("../../images/header-bg.png"),
    radial-gradient(circle, #ebca80, #d1af66, #b7954c, #bd9b52, #846419);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-heading {
  width: 210px;
}

.header-form .form-control {
  width: 190px;
  height: 32px;
  border: 1px solid var(--secondary-color);
}

.header-button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.header-button:hover {
  background-color: var(--primary-color);
}

.header-button:active {
  background-color: var(--fourty-color);
}

.icon-link {
  width: 50px;
  height: 50px;
}

.icon-image {
  height: inherit;
}

@media screen and (max-width: 767px) {
  .header-button {
    width: 190px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-main {
    height: 566px;
  }

  .header-heading {
    width: 450px;
  }

  .header-form .form-control {
    width: 228px;
    height: 40px;
  }

  .icon-link {
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .header-main {
    height: 768px;
  }

  .header-heading {
    width: 1000px;
  }

  .header-form .form-control {
    width: 270px;
    height: 48px;
  }

  .icon-link {
    width: 80px;
    height: 80px;
  }
}

