/* .header-main {
  background-image: url("../../images/header-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.header-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-main .wrapper {
  width: 210px;
}

.header-main .heading {
  letter-spacing: -0.8px;
}

.header-form .form-control {
  width: 190px;
  height: 32px;
  font-size: 12px;
  border: 1px solid var(--secondary-color);
  padding: 9px 9px 10px 16px;
}

.header-button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 6px 12px 6px 6px;
}

.header-button:hover {
  background-color: var(--primary-color);
}

.header-button:active {
  background-color: var(--fourty-color);
}

.header-icon .icon-link {
  width: 50px;
}

.header-icon .icon-link:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}

.header-icon .icon-link img {
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .header-button {
    width: 190px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-main .wrapper {
    width: 408px;
  }

  .header-form .form-control {
    width: 228px;
    height: 40px;
  }

  .header-form .form-control {
    padding: 9px 9px 10px 15px;
  }

  .header-button {
    padding: 6px 12px 6px 14px;
  }

  .header-icon .icon-link {
    width: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .header-main .wrapper {
    width: 810px;
  }

  .header-main .heading {
    letter-spacing: -1.6px;
  }

  .header-form .form-control {
    font-size: 16px;
    width: 270px;
    height: 48px;
    transform: translateX(-2px);
    padding: 6px 12px 6px 17px;
  }

  .header-button {
    transform: translateX(-2px)
  }

  .header-icon .icon-link {
    width: 80px;
  }
}