.hero {
  background: url("../../images/bg-hero.webp") no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px var(--clr-shadow-dk);
  border: 1px solid var(--clr-ntrl-max);
  height: 962px;
}

.hero .overlay-bg {
  height: 100%;
  width: 100%;
  background: var(--clr-linear);
}

.hero .nav {
  height: 31px;
  padding: 42px 167px 0px 191px;
}

.nav .nav-logo img {
  width: 82px;
  height: 31px;
}

.nav .nav-item {
  margin: auto 0;
  margin-left: 82px;
}

.nav-item a {
  font-size: 18px;
  color: var(--clr-ntrl-min);
}

.nav-item a:hover {
  font-size: 18px;
  color: var(--clr-primary-lt);
}

.hero-header {
  color: var(--clr-ntrl-min);
  font-size: 50px;
  width: 619px;
  margin-top: 176px;
  margin-left: 191px;
  text-shadow: 0px 4px 4px 0px var(--clr-shadow);
}

.header-support {
  width: 546px;
  padding-top: 22px;
  padding-left: 191px;
  color: var(--clr-ntrl-min);
}

.search-bar {
  color: var(--clr-ntrl-min);
  display: flex;
  padding-top: 58px;
  padding-left: 191px;
}

.search-bar .search-question:first-child {
  padding-right: 61px;
}

.search-button {
  color: var(--clr-ntrl-min);
  font-size: 24px;
  text-transform: uppercase;
  width: 171px;
  height: 58px;
  border: none;
  margin-left: 60px;
  background: var(--clr-second-ltr);
}

.search-button:hover {
  background-color: var(--clr-secondary-lt);
}

.search-bar .search-question {
  width: 297px;
  height: 49px;
}

.search-question .question-wrap {
  display: flex;
  align-items: flex-start;
}

.question-wrap .oval-icon {
  width: 20px;
  height: 20px;
  padding-right: 23px;
}

.search-question .search-line {
  color: var(--clr-ntrl-min);
  width: 297px;
  height: 28.2px;
  background: transparent;
  border-bottom: 3px solid var(--clr-ntrl-min);
  padding: 0px;
}
