.navbar {
  position: fixed;
  width: 100%;
  min-width: 320px;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

.navbar-heading {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2.4rem;
  letter-spacing: 2.487px;
  margin-left: 2rem;
}

.dropdown-item {
  padding: 1rem 0;
}

.dropdown-link {
  color: var(--ntrl-min-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 133.33%;
  letter-spacing: 0.998px;
}

.nav-button {
  background-color: transparent;
  color: var(--ntrl-min-color);
  letter-spacing: 0.8px;
  font-size: 1.1rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dropdown-image {
    padding: 2rem 1.6rem;
  }

  .dropdown-image:hover {
    transform: rotate(90deg);
    transition: 0.5;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 5px;
    overflow: hidden;
  }

  .navbar-dropdown:hover .dropdown-list {
    display: block;
  }

  .dropdown-item {
    width: 100vw;
    height: 8vw;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s linear;
  }

  .dropdown-item:hover {
    background-color: var(--fourty-color);
  }

  .nav-button {
    border: 0;
    padding: 0;
  }
}

/* reponsive for tablet */
@media screen and (min-width: 768px) {
  .navbar {
    height: 104px;
  }

  .navbar-heading {
    margin-left: 3.1rem;
  }

  .dropdown-image {
    display: none;
  }

  .dropdown-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .dropdown-item:last-child {
    margin-left: -3px;
  }

  .dropdown-item:hover {
    transform: scale(1.1);
  }

  .dropdown-item:hover .dropdown-link {
    color: var(--primary-color);
  }

  .nav-button {
    border: 2px solid var(--ntrl-min-color);
    width: 148px;
    margin-right: 2.4rem;
  }

  .nav-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

/* reponsive for desktop */
@media screen and (min-width: 1440px) {
  .navbar {
    height: 136px;
    padding-bottom: 2rem;
  }

  .navbar-heading {
    margin-left: 16.7rem;
    font-size: 3.6rem;
    letter-spacing: 1.997px;
  }

  .dropdown-list {
    gap: 45px;
  }

  .dropdown-item:last-child {
    margin-left: -1.7rem;
  }

  .dropdown-link {
    font-size: 1.8rem;
  }

  .nav-button {
    width: 180px;
    height: 48px;
    margin-right: 14rem;
    font-size: 1.6rem;
  }
}
