.places {
  max-width: 250px;
}

.places .wrap-image {
  width: 116px;
  height: 116px;
}

.places-select {
  color: var(--secondary-color);
  width: 144px;
  height: 24px;
  border: 1px solid var(--secondary-color);
}

.places-name li a {
  color: var(--secondary-color);
}

.place-image {
  height: inherit;
}

@media screen and (min-width:768px) {
  .places {
    max-width: 650px;
  }

  .places .wrap-image {
    width: 192px;
    height: 192px;
  }
}

@media screen and (min-width: 1440px) {
  .places {
    max-width: 1000px;
  }

  .places .wrap-image {
    width: 300px;
    height: 300px;
  }
}