.places-section {
  max-width: 1280px;
  margin: 140px auto 144px auto;
}

.places-content {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
}

.place-article {
  width: 392px;
}

.place-article .wrap-image {
  position: relative;
  background-size: cover;
  width: 386px;
  height: 377px;
}

.place-article .wrap-image .image {
  width: 100%;
  height: 100%;
}

.place-article .overlay {
  color: var(--clr-ntrl-min);
  text-transform: uppercase;
  align-items: center;
  background-color: var(--clr-shadow-dkst);
  top: 85%;
}

.place-article .image-infor .image-title {
  font-family: "Lato-Light";
  font-size: 18px;
  padding-left: 25px;
}

.image-infor .like-cmt {
  display: flex;
  align-items: center;
}

.image-infor .like-cmt .like {
  width: 16px;
  height: 15px;
  padding-right: 14px;
  padding-left: 4px;
}

.image-infor .like-cmt .comment {
  width: 14px;
  height: 14px;
  padding-right: 25px;
  padding-left: 9px;
}

.place-article .description {
  margin-top: 62px;
  margin-bottom: 31px;
}

.place-article .see-more {
  display: block;
  color: var(--clr-ntrl-min);
  background-color: var(--clr-secondary-lt);
  text-transform: uppercase;
  width: fit-content;
  padding: 12px 19px 11px 19px;
}
