.places {
  max-width: 250px;
}

.places .heading {
  letter-spacing: normal;
}

.places .wrap-image {
  width: 116px;
}

.places-select {
  color: var(--secondary-color);
  width: 144px;
  height: 24px;
  border: 2px solid var(--secondary-color);
}

.places-name li a {
  color: var(--secondary-color);
}

@media screen and (min-width:768px) {
  .places {
    max-width: 650px;
  }

  .places .wrap-image {
    width: 192px;
  }
}

@media screen and (min-width: 1440px) {
  .places {
    max-width: 1000px;
  }

  .places .heading {
    letter-spacing: -1.6px;
  }

  .places .wrap-image {
    width: 300px;
  }
}