.pricing {
  background-color: var(--secondary-color);
}

.pricing .heading {
  letter-spacing: normal;
}

.pricing .card {
  width: 220px;
  height: 248px;
  border-radius: 9px;
  box-shadow: 0px 0px 9px 4px #343131;
}

.primary-card,
.thirty-card {
  color: var(--ntrl-min-color);
  background: linear-gradient(to right, var(--secondary-color), #616060);
}

.secondary-card {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.thirty-card {
  background: linear-gradient(to right, var(--secondary-color), #272626);
}

.pricing .card-title {
  color: var(--primary-color);
}

.pricing .primary-title {
  font-family: "Lucide Grand";
}

.pricing .secondary-title {
  color: var(--secondary-color);
}

.pricing .card-title {
  letter-spacing: 0.667px;
}

.pricing .card-duration {
  letter-spacing: 0.667px;
}

.pricing .price {
  font-size: 36px;
}

.dola {
  top: -6px;
  left: -10px;
}

@media screen and (min-width: 768px) {
  .pricing .heading {
    letter-spacing: -0.8px;
  }

  .pricing .card {
    height: 280px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .card-container {
    transform: translateX(15px);
  }
}

@media screen and (min-width: 1440px) {
  .pricing .heading {
    letter-spacing: -1.6px;
  }

  .pricing .card {
    width: 360px;
    height: 396px;
  }

  .pricing .card-title {
    letter-spacing: 1px;
  }

  .pricing .card-duration {
    letter-spacing: 1px;
  }

  .dola {
    font-size: 25px;
    top: -10px;
    left: -20px;
  }

  .pricing .price {
    font-size: 64px;
  }
}