.video-container {
  position: relative;
  min-width: 100%;
  height: 642px;
}

.video-container .video {
  min-width: 100%;
}

.video-container .overlay {
  background: var(--clr-shadow-dkr);
}

.video-container .btn-pause {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pause img {
  width: 112px;
  height: 112px;
}
