.benefits-content .card-item {
  position: relative;
  width: 26%;
  height: 280px;
  list-style-type: none;
}

.benefits-content .card-item > img {
  width: 66px;
  height: 66px;
}

.card-item .card-header {
  margin-top: 37px;
}

.card-item .card-description {
  margin-top: 26px;
}

.card-item .detail {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: fit-content;
}
