.search-bar .search-question {
  width: 297px;
  height: 49px;
}

.search-question .question-wrap {
  display: flex;
  align-items: flex-start;
}

.question-wrap .oval-icon {
  width: 20px;
  height: 20px;
  padding-right: 23px;
}

.search-question .search-line {
  color: var(--clr-ntrl-min);
  width: 297px;
  height: 28.2px;
  background: transparent;
  border-bottom: 3px solid var(--clr-ntrl-min);
  padding: 0px;
}
