body {
    padding: 20px
}
h1, h2, h3, a {
    margin : 0px; 
    font-weight: normal;

}
h1 {
    font-family: Georgia, Times , serif;
    font-size : 40px;
    text-shadow: 2px 2px 3px #666666;
    color: rgb(11, 114, 146);
    padding-bottom: 10px;
}
h2 {
    font-family: "Gill Sans", Arial, sans-serif ;
    font-size : 14.4px;
    text-transform: uppercase;
    color: rgb(24, 135, 169);
}
.intro {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(24, 135, 169);
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(24, 135, 169);
}
p {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    color :#665544
}
.credit {
    text-align: right;
    font-style: italic;        
}