p {
    font-family: 'Lato-Black';
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-normal);
    color: var(--clr-ntrl-max);
}

a {
    text-decoration: none;
}

nav a:hover {
    color:  var(--clr-primary-lt);
}

h1 {
    font-family: 'Lato-Black';
    font-size: 50px;
    line-height: normal;
    font-weight: var(--fw-semibold) ;
}

h2 {
    font-family: 'Lato-Black';
    font-size: 50px;
    line-height: normal;
    font-weight: var(--fw-bold);
}

h3 {
    font-family: 'Lato-Black';
    font-size: 35px;
    line-height: normal;
    font-weight: var(--fw-semibold);
}

h4 {
    font-family: 'Lato-Black';
    font-size: 30px;
    line-height: 40px;
    font-weight: var(--fw-semibold);
}

h6 {
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--fw-semibold) ;
}

span {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--fw-semibold);
}


@font-face {
    font-family: 'Lato-Black';
    src: url('Lato-Black.ttf');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('Lato-Black.svg#Lato Black') format('svg'),
    url('Lato-Black.woff') format('woff'),
    url('Lato-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-BlackItalic.ttf');
    src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('Lato-BlackItalic.svg#Lato Black') format('svg'),
    url('Lato-BlackItalic.woff') format('woff'),
    url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-Bold.ttf');
    src: url('Lato-Bold.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-Bold.ttf.svg#Lato Black') format('svg'),
    url('Lato-Bold.ttf.woff') format('woff'),
    url('Lato-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-BoldItalic.ttf');
    src: url('Lato-BoldItalic.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-BoldItalic.ttf.svg#Lato Black') format('svg'),
    url('Lato-BoldItalic.ttf.woff') format('woff'),
    url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-Italic.ttf');
    src: url('Lato-Italic.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-Italic.ttf.svg#Lato Black') format('svg'),
    url('Lato-Italic.ttf.woff') format('woff'),
    url('Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-Light.ttf');
    src: url('Lato-Light.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-Light.ttf.svg#Lato Black') format('svg'),
    url('Lato-Light.ttf.woff') format('woff'),
    url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-LightItalic.ttf');
    src: url('Lato-LightItalic.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-LightItalic.ttf.svg#Lato Black') format('svg'),
    url('Lato-LightItalic.ttf.woff') format('woff'),
    url('Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-Regular.ttf');
    src: url('Lato-Regular.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-Regular.ttf.svg#Lato Black') format('svg'),
    url('Lato-Regular.ttf.woff') format('woff'),
    url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-Thin.ttf');
    src: url('Lato-Thin.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-Thin.ttf.svg#Lato Black') format('svg'),
    url('Lato-Thin.ttf.woff') format('woff'),
    url('Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black' ;
    src: url('Lato-ThinItalic.ttf');
    src: url('Lato-ThinItalic.ttf.eot?#iefix') format('embedded-opentype'),
    url('Lato-ThinItalic.ttf.svg#Lato Black') format('svg'),
    url('Lato-ThinItalic.ttf.woff') format('woff'),
    url('Lato-ThinItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}