p {
    font-family: 'Lato-Black';
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-normal);
    color: var(--clr-ntrl-max);
}

a {
    text-decoration: none;
}

nav a:hover {
    color:  var(--clr-primary-lt);
}

h1 {
    font-family: 'Lato-Black';
    font-size: 50px;
    line-height: normal;
    font-weight: var(--fw-semibold) ;
}

h2 {
    font-family: 'Lato-Black';
    font-size: 50px;
    line-height: normal;
    font-weight: var(--fw-bold);
}

h3 {
    font-family: 'Lato-Black';
    font-size: 35px;
    line-height: normal;
    font-weight: var(--fw-semibold);
}

h4 {
    font-family: 'Lato-Black';
    font-size: 30px;
    line-height: 40px;
    font-weight: var(--fw-semibold);
}

h6 {
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--fw-semibold) ;
}

span {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--fw-semibold);
}



@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}