.hero {
  background: url("/assets/images/bg-hero.png") no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px var(--clr-shadow);
  border: 1px solid var(--clr-ntrl-max);
  height: 962px;
}
.hero .overlay {
  height: 962px;
  width: 100%;
  background: var(--clr-linear);
}
