.benefits-section {
  position: relative;
  top: -237px;
  left: 7.4%;
  margin-bottom: -106px;
}

.benefits-section .benefits-header {
  padding-top: 93px;
  padding-left: 99px;
}

.benefits-section .benefits-content {
  display: flex;
  width: 88%;
  justify-content: space-between;
  margin-top: 120px;
  margin-left: 100px;
}
