.hero .nav {
  display: flex;
  justify-content: space-between;
  height: 31px;
  padding: 42px 167px 0px 191px ;
}

.nav .nav-logo img {
  width: 82px;
  height: 31px;
}

.nav .nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav .nav-item {
  list-style-type: none;
  margin: auto 0;
  margin-left: 82px;
}

.nav-item a {
  font-size: 18px;
  color: var(--clr-ntrl-min);
}

.nav-item a:hover {
  font-size: 18px;
  color: var(--clr-primary-lt);
}

.hero-header {
  color: var(--clr-ntrl-min);
  font-size: 50px;
  width: 619px;
  margin-top: 176px;
  margin-left: 191px;
  text-shadow: 0px 4px 4px 0px var(--clr-shadow);
}

.header-support {
  width: 546px;
  padding-top: 22px;
  padding-left: 191px;
  color: var(--clr-ntrl-min);
}

.search-bar {
  color: var(--clr-ntrl-min);
  display: flex;
  padding-top: 58px;
  padding-left: 191px;
}

.search-bar .search-question:first-child {
  padding-right: 61px;
}

.search-button {
  color: var(--clr-ntrl-min);
  font-size: 24px;
  text-transform: uppercase;
  width: 171px;
  height: 58px;
  border: none;
  margin-left: 60px;
  background: var(--clr-second-ltr);
}

.search-button:hover {
  background-color: var(--clr-secondary-lt);
}
