.inspired-section div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.inspired-section .inspired-content {
  display:   flex;
  flex-wrap: wrap;
  gap: 10px;
}

.inspired-content .wrap-image {
  position: relative;
}
.inspired-content .wrap-image img {
    max-width:  100%;
    max-height: 100%;
    display: block;
}
.inspired-content .overlay-image {
    background: rgba(21, 24, 36, 0.40);  
    position: absolute;
    z-index: 1;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
}
.inspired-content .wrap-image .sub-image {
  color: var(--clr-ntrl-min);
  position: absolute;
  bottom: 27px;
  left:   29px;
}
