.member-desc {
	width: 200px;
}

.member-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .team .heading {
    letter-spacing: normal;
  }

  .member-avatar {
    width: 62px;
    height: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .team .heading {
    letter-spacing: -1.6px;
  }

		.member-desc {
			width: 260px;
		}

  .member-avatar {
    width: 80px;
    height: 80px;
  }
}
