.team-main {
  width: 275px;
}

.team-member {
  width: 275px;
}

.member-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .team .heading {
    letter-spacing: normal;
  }

  .team-main {
    width: 596px;
  }

  .team-member {
    width: 285px;
  }

  .member-avatar {
    width: 62px;
    height: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .team .heading {
    letter-spacing: -1.6px;
  }

  .team-main {
    width: 1136px;
  }

  .team-member {
    width: 360px;
  }

  .member-avatar {
    width: 80px;
    height: 80px;
  }
}
