.video-container {
  position: relative;
  min-width: 100%;
  height: auto;
}
.video {
  min-width: 100%;
  height: auto;
}

.overlay-video {
  background: var(--clr--shadow-dk);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
