body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12.8px;
}
.page {
    max-width: 940px;
	min-width: 720px;
    border : 5px double black;
    padding : 20px;
    margin : 0px 140px 0px 140px;
}

.logo {
    margin : 10px, auto, 25px, auto;
    text-align: center;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;}

ul > li {
    display: inline;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding : 6px 18px 5px 18px;
}

p {
    text-align: center;
    width: 600px; 
    margin: 20px auto 20px auto; 
    font-weight: normal;
}

a:hover, a.on {
    color: #cc3333;
    background-color: #ffffff;}