/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/

:root {
  /* font */
  --primary-font: "Lato";
  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-normal: 400;

  /* primary brand color - graylight - */
  --clr-primary-lt: #bfc0c5;
  --clr-primary-ltr: #d8d8d8;

  /* secondary brand color bluelight */
  --clr-secondary-lt: #006dfe;
  --clr-second-ltr: #1b7dff;

  /* thirty brand color bluedark */
  --clr-thirty-dk: #102746;
  --clr-thirty-dkr: #0e1d28;

  /* neutrals */
  --clr-ntrl-min: #ffffff;
  --clr-ntrl-max: #000000;

  /* shadow color */
  --clr-shadow: rgba(0, 0, 0, 0.25);

  /* linear gradient */
  --clr-linear: linear-gradient(180deg, rgba(53, 66, 103, 0) 0%, #151824 100%);
}
