.places-section {
    max-width: 1280px;
    margin: 108px auto 0 auto;
}

.places-content {
    display: flex;
    flex-wrap: wrap;
    gap : 40px;
}


.place-article {
    width: 392px;
}

.place-article .wrap-image{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 377px;
}

.place-article .wrap-image .image {
    width: 100%;
    height: 100%;
}


.place-article .overlay-image {
    color: var(--clr-ntrl-min);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(21, 24, 36, 0.60);
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 85%;

    & .header-image {
        padding-left: 25px;
    }
    & .like {
        padding-right: 14px;
    }
    & .comment {
        padding-right: 25px;
    }
}

.place-article .description {
    margin-top: 62px;
    margin-bottom: 14px;
} 

.place-article .see-more {
    display: block;
    color:  var(--clr-ntrl-min);
    background-color: var(--clr-secondary-lt);
    text-transform: uppercase;
    width: fit-content;
    padding: 12px 19px 11px 19px;
}







