:root {
  --primary-color: #ebcb80;
  --secondary-color: #4b4b4b;
  --thirty-color: rgba(75, 75, 75, 0.5);
  --fourty-color: rgba(224, 190, 111, 0.6);
  --ntrl-min-color: #fff;
  --ntrl-medium-color: #E6E6E6;
  --ntrl-max-color: #000;
}